<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head>
<fieldset>
<legend>Unidade - Formulário de Cadastro</legend>
<form class="container-fluid" novalidate>
	<div ng-hide="messageError == undefined" class="alert alert-danger" role="alert">{{messageError}}</div> 
	<div ng-hide="messageSuccess == undefined" class="alert alert-success" role="alert">{{messageSuccess}}</div> 
	<label for="nome">Nome</label>
	<input id="nome" type="text" ng-model="unidade.nome" placeholder="Digite o nome da unidade.">
	<button ng-click="submeterFormulario()">Enviar</button>
	
	<table ng-table="tableParams" show-filter="true" class="table ng-table-rowselected">
            <tr ng-repeat="user in $data"
                ng-click="user.$selected = !user.$selected; changeSelection(user)"
                ng-class="{'active': user.$selected}">
                <td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }">
                    {{user.name}}
                </td>
                <td data-title="'Age'" sortable="'age'" filter="{ 'age': 'text' }">
                    {{user.age}}
                </td>
            </tr>
     </table>
</form>


</fieldset>